body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(240, 89, 51);
    margin-top: 100px;
    color: white;
}
h2{color:black}
a{
    color: rgb(245, 82, 41);
    text-decoration: none;
    
}
form
{   
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 15% ;
    margin: auto;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

div{
    padding: 20px;
    text-align: center;
   
    width: 15% ;
    margin: auto;
}
input,button{
    border: none;
    text-align: center;
    padding: 10px;
    color: white;
}
img{
    width: 10%;
}
#but1{
    background-color: rgb(23, 173, 23);
    box-shadow: 0 5px 0 rgb(19, 134, 19);
}

div button{
    margin: 10px;
    width: 40%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}



#but2{
    background-color: rgb(61, 61, 250);
}
#but3{
    background-color: rgb(91, 200, 255);
}

